/* Header and Navigation */

header {
    background: url('hero_bg.png') no-repeat center center/cover;
    padding-top: 20px;   
    padding-bottom: 200px; 
    color: rgb(255, 255, 255);
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.2); 
    padding-right: 200px;
    padding-left: 200px;   
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links li a {
    color: white;
}

#language {
    color: rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.3);
}

.auth-buttons a {
    color: white; 
    margin-left: 10px;   
}

#signup {
    background-color: #f87a29; 
    color: white;      
    margin-left: 10px;     
    border-radius: 20px;            
    text-align: center;
    padding: 10px 30px;
}

.hero {
    padding:40px;
    line-height: 0.5;
}
.hero h1{
    font-family: 'Dancing Script',cursive;
    font-size:'2.5rem;
}
.book{ 
    margin-left: 180px;
    margin-right:180px;
    background-color:rgb(255, 255, 255, 0.1);
    text-align: left;
}
.tabs button{
    background-color:rgb(255, 255, 255, 0.3);
    border: none;
    cursor: pointer;
    transition: background 0.3s;
 }
  
.tabs button.active {
    background-color: #ffa500;
    color: white;
    border-radius: 4px;
  }
  .booking-form {
    color: black;
    display: flex;
    gap: 10px;
    background-color: white;
    justify-content: space-around;
    padding: 10px;
    border-radius: 10px;

  }
  .search-btn{
    border-radius: 10%;
    margin-top: auto;
  }
  

 